*{
    font-family: Verdana;
    color: rgb(93,115,126);
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.wrapper {
    max-width: 500px;
    margin: auto;
    padding: 10px;
}
h1{
    font-size: 20px;
    text-align:center;
    margin: 20px 0 50px 0;
}
h1:hover{
	background: rgb(218,255,239);
	text-decoration: underline;
}
@media(min-width:320px) {
	h1 {
		font-size: 38px;
	}		
}
a:not(:first-child){
	padding-top: 20px;
	color: rgb(100,182,172);
	text-align: center;	
}
h1 a{
	text-decoration: none;
}
.link_block {
	display: block;
}
.button {
    border: 2px rgb(100,182,172);
    border-radius: 6px;
    padding: 10px;
	width: 50%;
}


.articles {
    text-align: center;
}
@media(min-width:500px){
	margin-top: 60px;
}
.form_group {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    border: 2px solid rgb(100,182,172);
}
@media(min-width:500px) {
	.form_group {
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
	}
}
.form_group:hover {
    background: rgb(218,255,239);
}
.form_group:active {
    background: rgb(192,253,251);
}
label {
    cursor: pointer;
    font-size: 24px;
}
@media(min-width:320px) {
	label {
		padding: 60px 30px;
	}
}
input[type=radio]{
    display: none;
}
input[type=submit]{
    width: 100%;
    background: rgb(100,182,172);
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-top: 30px;
	-webkit-box-shadow: 3px 7px 0px 1px rgba(57,121,113,0.76);
	-moz-box-shadow: 3px 7px 0px 1px rgba(57,121,113,0.76);
	box-shadow: 3px 7px 0px 1px rgba(57,121,113,0.76);
}
@media(min-width:320px){
	input[type=submit]{
		margin-top: 40px;
		margin-bottom: 30px		
	}
}
.word_de {
    font-size: 17px;
    font-weight: bold;
}
@media(min-width:320px) {
	.word_de {
		font-size: 30px;
		margin-top: 40px;
	}		
}


.icons {
	width: 100%;
	margin-top: 40px;
	text-align: center;
	margin-top: 10px;
}

.icon {
	margin-top: 20px;
	width: 50%;
	float: left;
	display: inline;
}
@media(min-width:360px) {
	.icon {
		display: inline;
		float: right;
		font-size: 30px;
		width: 25%;
		margin-top: 40px;
	}		
}
.icon-text {
	font-size: 12px;
	display: block;
	margin-top: 5px;
}


.result {
	background: rgb(218,255,239);
	border: 2px solid rgb(100,182,172);
	border-radius: 6px;
	padding: 8px;
	text-align: center;
	font-size: 14px;
	margin-bottom: 10px;
}
@media(min-width:320px) {
	.result {
		padding: 12px;
	}		
}
@media(min-width:500px) {
	.result {
		margin-top: 20px;
		margin-bottom: 40px;
	}
}
.result .fa {
	margin: 2% 0 4% 0;
}
.result_wrong_text {
	font-weight: bold;
	padding: 8px;
}
.wrong {
	border: 2px solid red;
}

table{
	font-size: 10px;
	width: 100%;
	border: 1px solid rgb(100,182,172);
	border-collapse: collapse;
}
@media(min-width:320px) {
	table {
		font-size: 14px;
	}	
	tr {
		height: 2.5em;
	}
}
tr:nth-child(odd) {
	background-color: rgb(218,255,239);
}
th{
	font-weight: normal;
	background: rgb(100,182,172);
	color: white;
	text-align: left;
}
th, td {
	padding-right: 2px;
	padding-left: 2px;
}
